.nav-top{
    background-color: rgb(47, 47, 114) !important;
}

.nav-link{
    color: white !important;
}

footer{
    background-color: rgb(47, 47, 114) !important;
    color: white !important;
    text-align: center !important;
}

.rounded-logo{
    border-radius: 50% !important;
    object-fit: cover;
}

.rounded-logo:hover {
    transform: scale(1.1);
}

.rounded-logo {
    width: 65px;
    height: 65px;
}